.kalkulator {
    width: 300px;
    height: 480px;
    background: rgb(10, 10, 10);
    color: aliceblue;
    border-radius: 4%;
    margin: auto;
    box-shadow: 4px 4px 4px #afafaf;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#textid{
    text-align: right;
    height: 100px;
    background-color: rgb(177, 177, 184);
    width: 91%;
    border-radius: 5%;
    margin: 10px;
    font-size: 4rem;
}

.battons {
    margin: 10px;
    display: grid;
    grid-template-areas: 
    "AS skobki persent division"
    "seven aigh nine myltiply"
    "four five six minus"
    "one two fhree plus"
    "zero dot beckspace equal";
    grid-gap: 7px;
    justify-items: center;
}
.batton {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    line-height: 58px;
    user-select: none;
}
.batton:hover{
    filter: brightness(120%);
}
.batton:active{
    filter: brightness(80%);
}
.batton.rg {
    background: rgb(130, 68, 212);
}
.batton.bl {
    background: rgba(93, 169, 240, 0.774);
}
.batton.bj{
    background: rgba(32, 182, 241, 0.589);
}
